*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.navWrap{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    .nav{
        width: 60%;
        position: relative;
        align-items: center;
        height: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        padding: 0;
        color: white;
        
            
        .addPizza{
            position: absolute;
            right: 0;
            button{
                padding: 10px 15px
          }
        }
        
     
        
    }
}

.addPizzaContainer{
    height: 70vh;
    widows: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;

    .addPizza{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 80%;
        background-color: white;
        padding: 30px;
        label{
            margin-top: 30px;
        }
        button{
            margin-top: 50px;
            width: 100px;
            align-self: center;
        }
    }
}

.footerContainer{
    width: 100vw;
    height: 30vh;
    margin: 0 auto;
    .footer{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: whitesmoke;

    }
}
h4{
    margin:0 auto;
}

.grid{
    display: grid;
    width:80vw;
    background: burlywood;
    margin:0 auto;
    grid-gap:10px 10px;

    .card{
        background-color: white;
        border:solid 1px black;
        width: 300px;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}
